* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
}

:root {
    --bg-color: #61122f;
    --second-bg-color: #dfb146;
    --text-color: rgb(31, 31, 31); 
    --second-text-color:#557c3e;
    --main-color: #ffdf50;
}

body {
    color: #fff;
    background-color: var(--bg-color);
}

#header-nav {
    background-color: var(--second-bg-color);
    border-radius: 0;
    border: 0;
    padding: 10px 0;
}

#logo-img {
    width: 150px;
    height: 150px;
    margin: 0px 15px 15px 2px;
}

.navbar-brand-text {
    padding-top: 20px;
    display: inline-block;
}

.navbar-brand-text h1 {
    font-family: 'Lora', serif;
    color: var(--second-text-color);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 1px 1px 1px #222;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: .75;
    text-decoration: none;
}

.navbar-brand-text p {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.navbar-brand-text p img {
    height: 28px;
    margin-right: 5px;
}

.navbar-nav {
    margin-top: 10px;
}

.navbar-nav .nav-link {
    color: var(--bg-color);
    text-align: center;
}

.navbar-nav .nav-link:hover {
    background-color: var(--second-text-color);
}

.navbar-nav .nav-link i {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

#phone div {
    color: var(--text-color);
    text-align: right;
    padding-right: 15px;
}

.navbar-toggler {
    border: 1px solid var(--second-text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(85, 124, 62, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}









@media (max-width: 991px) {
    #header-nav {
        padding: 5px 0;
        padding-right: 2px;
        padding-left: 2px;
        margin-right: 2px;
    }

    #logo-img {
        width: 100px;
        height: 100px;
    }

    .navbar-brand-text h1 {
        font-size: 1.2em;
    }

    .navbar-brand-text p {
        font-size: 0.6em;
    }

    #container .navbar-toggler {
        position: absolute;
        right: 2rem;
        margin-top: 10px;
        margin-right: 1px;
        border-radius: 4px;
    }
}
@media (max-width: 767px) {
    .navbar-nav .nav-link {
        padding-top: 10px;
        height: 80px;
    }
    .navbar-brand-text h1 {
        padding-top: 10px;
        font-size: 5vw; /* 1vw = 1% of viewport width*/
    }
    .navbar-brand-text p{
        font-size: 0.1em;
        margin-top: 12px;
    }
    .navbar-brand-text p img{
        height: 20px;
    }
    .navbar-nav a {
        font-size: 1.2em;
    }
    .navbar-nav a span{
        font-size: 1em;
    }
    #phone {
        text-align: center;
    }
    #phone div {
        text-align: center;
        padding-right: 0;
    }
}